@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Frank+Ruhl+Libre:wght@400;500&family=Kaushan+Script&display=swap');

/* --------Background-Colors-------- */

.bg-black{
    background-color: #000;
}

/* --------Navbar-------- */

.navbar-brand{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2.5em;
}

.navbar-dark .navbar-nav .nav-link, #social-media, .footer-items a, .nav-tabs .nav-link{
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Frank Ruhl Libre', serif;
    text-transform: capitalize;
    font-weight: 400;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #7fb2dc;
}

/* --------index-section-------- */

.index-section{
    background-image: url("/static/media/images/nipsey-hussle-index-page.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.index-content{
    padding-top: 20%;
    text-align: right;  
    margin-left: 38.75%; 
}

#index-text{
    font-family: 'Kalam', cursive;
    font-size: 1.4em;
    letter-spacing: 1px; 
    text-align: left;
}

.index-name {
    font-family: 'Frank Ruhl Libre', serif;
    text-align: left;
    font-size: 1.2rem;
}

.index-button{
    text-align: center;
}

#in-button{
    font-size: 18px;
}

/* --------Life Section-------- */

#life-picture{
    background-image: url("/static/media/images/nipsey-life.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.life-text{
    margin: 0 15%;
    font-size: 17px;
}

.life-h2{
    border-bottom: 1px solid #000;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 15px;
    font-family: 'Frank Ruhl Libre', serif;
}
.nipsey-bio{
    overflow:scroll;
    height: 100vh;
}

/* --------Music Section-------- */

.nav-tabs .nav-link{
    color:#0072ce;
    background-color: white;
    border: 0;
}

.nav-tabs .nav-link.active{
    border: 1px solid;
    border-color: #DFD7CA #DFD7CA #fff;
}

.awards-table{

    margin: 0 10px;
    font-size: 16px;
 }

.awards-table tr{
    border-bottom: 1px solid #000;
}

.awards-table th{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.4rem;
}

#dates{
    overflow-x: scroll;
    width: 100%;
}

.hide{
    display: none;
}

.music-year a{
    font-size: 3.5em;
    font-weight: 500;
    font-family: 'Covered By Your Grace', cursive;
    color: #131A7C;
    letter-spacing: 1px;
    padding: 15px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.music-year-bold{
    font-size: 3.8em !important;
    color: #0072ce !important;
}

/* --------Index Footer-------- */

#social-media{
    font-size: 1.7rem;
}


.social-media-items i{
    color: white;
    font-size: 1.75rem;
}

.footer-items a{
    font-size: 1.2rem;
    text-decoration: none;
}

.footer-items li{
    border-bottom: 1px solid #fff;
    width: 200px;
    padding-bottom: 8px;
    padding-top: 5px;
}
/* --------Hover-------- */

.social-media-items i:hover, 
.footer-items a:hover, 
#in-button:hover, 
.navbar-dark .navbar-nav .nav-link:hover,
.music-year a:hover{
    color: #0072ce;
}

/* --------Media Queries-------- */

@media only screen and (min-width: 768px) {

    .index-name{
        font-size: 2.5em;
    }
    
    .index-content{
        margin-left: 55%;
        padding-top: 12.5%;
    }

    #index-text{
        font-size: 2.6em;
    }
   
   .awards-table{
       width: 60%;
       margin: 0 20%;
       font-size: 18px;
   }

}

@media only screen and (min-width: 1200px) {
    .index-section{
        height: 135vh; 
    }
}